aside.col-lg-4
        // mgid
        section
          .sidebar-ads
            #M793988ScriptRootC1288552
            
             // popular posts
        section
          .sidebar-label
            h5 Popular posts
          each popularVal, i in popular
            each artVal, i in articles
              
              if popularVal.article_id == artVal._id
                a(href=`/article/${artVal.num}`)
                  .article-horizontal.img-blur
                    img(src=`/uploads/${artVal.image}` alt='image')
                    h5= `${artVal.title.substring(0, 60)}...`
                      p= `${new Date(artVal.date).getDate()}, ${new Date(artVal.date).getMonth()+1}, ${new Date(artVal.date).getFullYear()} `
                        span.fa.fa-clock
                        
  
